
@{
    ViewBag.Title = "DetailsOrder";
    Layout = "~/Views/Shared/_LayoutChef.cshtml";
}

<h2>DetailsOrder</h2>

<style>
    .table {
        padding: 40px;
    }

    .writings {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
</style>


<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>OrderId</th>
            <th>ProductId </th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>

        </tr>
        @foreach (OrderFood f in ViewBag.listProduct)
        {

            <tr>
                <td>@f.OrderID</td>
                <td>@f.ProductID</td>
                <td>@f.ProductName</td>
                <td>@f.Price</td>
                <td>@f.Quantity</td>
            </tr>
        }


    </table>
</div>
<div style="height:60px"></div>

<button type="button" class="btn btn-light" onclick="window.location='/Chef/Index'">BACK</button>

