@using Food.Controllers

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Cart</h2>
<style>
    .table {
        padding: 40px;
    }
</style>

<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>ID</th>
            <th>Name </th>
           
            <th>Price</th>
            
            <th>Quantity</th>
            
            <th>Sub Total</th>
        </tr>
        @{
            double totalPrice = 0;
        }
        @foreach (Cart Cart in (List<Cart>)Session["cart"])
        {
            totalPrice = totalPrice + Cart.NewFood1.Price * Cart.Quantity;
            <tr>
                <td>@Cart.NewFood1.FoodID</td>
                <td>@Cart.NewFood1.Name</td>
                
                <td>@Cart.NewFood1.Price</td>
               
                <td>@Cart.Quantity</td>
                <td>@(Cart.NewFood1.Price * Cart.Quantity)</td>
            </tr>


        }




    </table>
    <br /><br />
    @Html.ActionLink("Countinue Odering", "Index", "Home")
    @Html.ActionLink("CheckOut", "CheckOut", "Home", new { id = "checkout" })

    <p>Your Total Bill</p>
    <p>@totalPrice</p>
</div>
<div style="height:60px"></div>
<script>
    var link = document.getElementById("checkout");
    link.onclick = function () {
        alert("Your Order has been dispatched and your order ID is" + 2)
    }
</script>

