@model Food.Controllers.Cart
@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
}

<style>
    .table {
        padding: 40px;
    }
</style>

<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>Name </th>
            <th>Description</th>
            <th>Price</th>
            @*<th>Quantity</th>*@
            <th>Add to Cart </th>
        </tr>
        @foreach (FoodItem f in ViewBag.listProduct)
        {

            <tr>
                <td>@f.Name</td>
                <td>@f.Category</td>
                <td>@f.Price</td>
                @*<td>@Html.TextBoxFor(model => model.Quantity, new { @type = "number", @value = 1, @max = 1, @min = 1 })</td>*@

                <td align="center">@Html.ActionLink("Add to Cart", "Cart", "Home", new { id = f.FoodID }, null)</td>
            </tr>
        }


    </table>
</div>
<div style="height:60px"></div>