@model Food.OrderFood

@{
    ViewBag.Title = "TrackOrder";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>TrackOrder</h2>
<style>
    .writings {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .textbox {
        align-self: center;
        padding: 40px;
    }

    .table {
        padding: 40px;
    }
</style>



<style>
    .writings {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .textbox {
        align-self: center;
        padding: 40px;
    }

    .modal {
        margin-top: 7%;
    }

    .modal-content {
        position: relative;
        background-color: white;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .modal-header {
        padding: 2px 16px;
        background-color: white;
        color: black;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: white;
        color: black;
    }
</style>


<div class="textbox">

    <h2 class="writing">Track Your Order Here</h2>

    @{
        int ID;
    }
    @using (@Html.BeginForm("TrackOrder", "Home", FormMethod.Post))
    {
        @Html.TextBox("id")
        <input id="myBtn" type="submit" value="Track Order" class="btn btn-light" />
        <div style="height:20px"></div>

    }



    <!-- The Modal -->
    <div id="myModal" class="modal">
        @{
            if (ViewBag.NULL == true)
            {
                <div class="modal-content" style="height:200px">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Order Under this ID was not found</h2>
                    </div>
                </div>
            }
            else
            {
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Your Order Details</h2>
                    </div>
                    <div class="modal-body">
                        <div class="textbox">
                            <p>Your Order Status</p>
                            <p style="font-weight:bold">@ViewBag.orderStatus</p>
                            <div style="height:10px;"></div>
                            <!--Table showing the contents of your order is shown here in the table-->
                            <table class="table table-bordered table-responsive table-hover">
                                <tr class="table">
                                    <th>Name </th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Picture</th>
                                </tr>
                                @foreach (OrderFood OrderP in ViewBag.Filterthroughid)
                                {
                                    <tr>
                                        <td>@OrderP.FoodItem.Name</td>
                                    
                                        <td>@OrderP.FoodItem.Category</td>
                                        <td>@OrderP.FoodItem.Price</td>
                                        <td>@OrderP.Quantity</td>
                                        <td>
                                            @{
                                                var base64 = Convert.ToBase64String(OrderP.FoodItem.Picture);
                                                var imgsrc = string.Format("data:image/gif;base64.{0}", base64);

                                            }
                                            <img src='@imgsrc' style="max-width:300px;max-height:300px" />
                                        </td>
                                    </tr>
                                }

                            </table>
                            @using (@Html.BeginForm("CancelOrder", "Home", FormMethod.Post))
                {
                                <button type="submit" style="float:right;padding-right:30px" class="btn btn-light">Cancel Order</button>
                            }
                            <div style="padding-right:20px"></div>
                            <div style="height:60px"></div>
                        </div>

                    </div>
                </div>
            }
        }
        <!-- Modal content -->


    </div>

    <script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}
{
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
    </script>


