@model Food.Models.Addfooditem
@{
    ViewBag.Title = "DeleteFoodItems";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DeleteFoodItems</h2>
<style>
    .table {
        padding: 40px;
    }
</style>

<div style="height:60px"></div>

<div style="padding-left:40px; padding-right:40px">
    <table class="table table-bordered table-responsive table-hover">
        <tr class="table">
            <th>ID </th>
            <th>Name </th>
            <th>Description</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
        @foreach (FoodItem f in ViewBag.listProduct)
        {
            <tr>
                <td>@f.FoodID</td>
                <td>@f.Name</td>
                <td>@f.Category</td>
                <td>@f.Price</td>


                <td align="center">@Html.ActionLink("Delete", "DeleteFoodItems", "Admin", new { id = @f.FoodID }, null)</td>
            </tr>
        }


    </table>
</div>
<div style="height:60px"></div>

